<div class="xw-1170">
    <div class="xw-event">
        <div class="errorCon">
            <div class="server-error">
                <i class="num">Error 500</i>
                <p>服务器遇到点小麻烦要不您再刷新一下试试？</p>
                <p>{{err.message}}</p>
                <img class="server-error" src="/images/error-system.png">
            </div>
        </div>
    </div>
</div>
{{#section 'script'}}
<!--webpack_script_placeholder-->
{{/section}} {{#section 'css'}}
<!--webpack_style_placeholder-->
{{/section}}
