<h1>首页</h1>

{{!-- 服务端使用partial模板
{{#each userList}}
{{> components/partial}}
{{/each}}
--}}

{{#section 'script'}}
<!--webpack_script_placeholder-->
{{/section}} {{#section 'css'}}
<!--webpack_style_placeholder-->
{{/section}}